node_modules
swagger.json
.vscode
*.log

infra/docker_volumes/*

!infra/docker_volumes/mono_api
infra/docker_volumes/mono_api/*

!infra/docker_volumes/mysql
infra/docker_volumes/mysql/*

!infra/docker_volumes/mono_fe
infra/docker_volumes/mono_fe/*

!infra/docker_volumes/swagger
infra/docker_volumes/swagger/*

!infra/docker_volumes/mono_api/README.md
!infra/docker_volumes/mono_api/wait-for-it.sh


infra/docker_volumes/mono_api/README.md
infra/docker_volumes/mono_api/wait-for-it.sh

/.cache
/.config
/.yarn
