.bg-success-hover {
  background-color: white !important;
  border: 1px solid #28a745;
  color: #28a745 !important;
}

.bg-danger-hover {
  background-color: white !important;
  border: 1px solid #dc3545;
  color: #dc3545 !important;
}